config:
  environment: develop
  shutdown_timeout: 5s

  logger:
    level: debug
    format: json

  db:
    url: gxravel:gxravel@tcp(localhost:3308)
    schema_name: bus_routes
    max_open_conns: 2
    max_idle_conns: 2

  api:
    serve_swagger: true
    address: ":8090"
    read_timeout: 5s
    write_timeout: 5s